@import url("https://unpkg.com/modern-css-reset/dist/reset.min.css");

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/figtree-v5-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/figtree-v5-latin-800.woff2") format("woff2");
}

:root {
  --color-primary-yellow: hsl(47, 88%, 63%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-grey: hsl(0, 0%, 50%);
  --color-neutral-black: hsl(0, 0%, 7%);

  --font-primary: "Figtree", sans-serif;
}

body {
  background-color: var(--color-primary-yellow);
  font: 500 1rem/1.6 var(--font-primary);
  color: var(--color-neutral-black);
}

.wrapper {
  min-height: 100vh;
  padding: 0 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: min(100%, 24rem);
}

.card {
  background-color: var(--color-neutral-white);
  border-radius: 1.25rem;
  border: 1px solid var(--color-neutral-black);
  padding: 1.5rem;
  position: relative;
}

.card:after {
  content: "";
  position: absolute;
  background-color: var(--color-neutral-black);
  border-radius: 1.25rem;
  top: 0.5rem;
  left: 0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  z-index: -1;
}

.card:hover:after {
  top: 1rem;
  left: 1rem;
  right: -1rem;
  bottom: -1rem;
  transition: all 0.3s cubic-bezier(0.33, 0, 0.3, 1);
}

.card__image {
  border-radius: 0.625rem;
  height: auto;
}

.card__body {
  margin-top: 1.5rem;
}

.card__category {
  border-radius: 0.25rem;
  background-color: var(--color-primary-yellow);
  color: inherit;
  display: block;
  font-size: 0.875rem;
  font-weight: 800;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  width: fit-content;
  transition: all 0.3s cubic-bezier(0.33, 0, 0.3, 1);
}

.card__category:hover {
  background-color: var(--color-neutral-black);
  color: var(--color-primary-yellow);
}

.card__body {
  margin: 1.5rem 0;
}

.card__body > * + * {
  margin-top: 0.75rem;
}

.card__date {
  font-size: 0.875rem;
  display: block;
}

.card__headline {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 800;
  transition: color 0.3s cubic-bezier(0.33, 0, 0.3, 1);
}

.card__headline:hover {
  color: var(--color-primary-yellow);
  cursor: pointer;
}

.card__description {
  color: var(--color-neutral-grey);
}

.card__footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.card__avatar {
  height: 2rem;
}

.card__author {
  font-weight: 800;
  display: block;
}

@media (max-width: 28rem) {
  :is(.card__category, .card__date) {
    font-size: 0.75rem;
  }

  .card__headline {
    font-size: 1.25rem;
  }

  :is(.card__description, .card__footer .author-name) {
    font-size: 0.875rem;
  }
}
