@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url(/fonts/Figtree.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --color-primary-yellow: hsl(47, 88%, 63%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-grey: hsl(0, 0%, 50%);
  --color-neutral-black: hsl(0, 0%, 7%);

  --font-primary: "Figtree", sans-serif;
}

body {
  background-color: var(--color-primary-yellow);
  font: 500 1rem/1.6 var(--font-primary);
  color: var(--color-neutral-black);
  min-height: 100vh;
  padding: 0 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--color-neutral-white);
  border-radius: 1.25rem;
  border: 1px solid var(--color-neutral-black);
  max-width: 24rem;
  padding: 1.5rem;
  position: relative;
}

.card:after {
  content: "";
  position: absolute;
  background-color: var(--color-neutral-black);
  border-radius: 1.25rem;
  top: .5rem;
  left: .5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  z-index: -1;
}

.card:hover:after {
  top: 1rem;
  left: 1rem;
  right: -1rem;
  bottom: -1rem;
  transition: all 0.3s ease;
}

.card__header .illustration {
  border-radius: 0.625rem;
  height: auto;
}

.card__body {
  margin-top: 1.5rem;
}

.card__body .category {
  border-radius: .25rem;
  background-color: var(--color-primary-yellow);
  color: inherit;
  display: block;
  font-size: .875rem;
  font-weight: 800;
  text-decoration: none;
  padding: .25rem .75rem;
  width: fit-content;
  transition: all 0.3s ease;
}

.card__body .category:hover {
  background-color: var(--color-neutral-black);
  color: var(--color-primary-yellow);
}

.card__body {
  margin: 1.5rem 0;
}

.card__body > * + * {
  margin-top: .75rem;
}

.card__body .published-date {
  font-size: .875rem;
  display: block;
}

.card__body .title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 800;
  transition: color 0.3s ease;
}

.card__body .title:hover {
  color: var(--color-primary-yellow);
  cursor: pointer;
}

.card__body .description {
  color: var(--color-neutral-grey);
}

.card__footer {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.card__footer .avatar {
  height: 2rem;
}

.card__footer .author-name {
  font-weight: 800;
  display: block;
}

@media (max-width: 28rem) {
  .card__body .category,
  .card__body .published-date {
    font-size: 0.75rem;
  }

  .card__body .title {
    font-size: 1.25rem;
  }

  .card__body .description,
  .card__footer .author-name {
    font-size: .875rem;
  }
}
